* {
  font-family: "Kanit", sans-serif;
}

#navbar {
  background-color: #a91d3a !important;
}
.navbar-brand {
  font-weight: 900;
  font-size: 24px;
  font-style: normal;
  letter-spacing: 8px;
}
.navbar-brand:hover {
  color: #151515 !important;
}
#links a {
  color: #ffffff;
}
#links a:hover {
  color: #151515;
  text-shadow: 0px -1px 12px rgba(255, 255, 255, 0.77);
}
#landing {
  background-color: #a91d3a;
}
#landing-title {
  font-weight: 700;
  font-size: 68px;
  color: #ffffff;
  letter-spacing: 5px;
}
#landing-subtitle {
  font-weight: 600px;
  color: #ffffff;
}
#landing-text {
  font-size: 24px;
  color: #ffffff;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9);
}
#landing-col {
  height: 60vh;
}
/* Flip Card Animation */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: #151515;
}

.flip-card-back {
  background-color: #c73659;
  color: white;
  transform: rotateY(180deg);
}
/* Flip Card Animation End*/

#tools {
  background-color: #a91d3a;
}
#tools-header {
  color: #ffffff;
}
#tools-subheader {
  color: #ffffff;
}
#tools-img {
  height: 80px;
}
#footer {
  background-color: #a91d3a;
  color: #ffffff;
}
#contact-header {
  color: #a91d3a;
}
#contact form label {
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  color: #151515;
}

#contact form input {
  border: 1px solid #a91d3a !important;
  border-radius: 0 !important;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
}

#contact form input::placeholder {
  color: #c73659 !important;
}

#contact form textarea {
  background-color: #ffffff;
  border: 1px solid #a91d3a !important;
  border-radius: 0 !important;
}

#form-btn {
  padding: 8px 24px 8px 24px;
  gap: 8px;
  border-radius: 2px;
  background-color: #a91d3a;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  color: #ffffff;
}

.row {
  animation: RevealOnScroll ease-in-out both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
}

@keyframes RevealOnScroll {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
